/* Google font link */
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
/* header */
header{
  height: 86vh;
  background: radial-gradient( #f9f9f9,#8FBC8F80,#8FBC8F);
}
header p .header-img{
  margin: 0.5rem;
  background: radial-gradient(#f9f9f9,#f9f9f980);
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
header p .header-img:hover{
  transform: scale(1.1);
} 
/* Header text and animation*/
header .heading{
  display: flex;
  justify-content: center;
  line-height: 750px;
  font-family: "Luckiest Guy", cursive;
  margin: 0;
  font-size: 4em;
  padding: 0;
  color: #F5F5DC;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}
header .heading .heading-word{
  padding: 0.15rem;
  transform: scale(0.8);
  display: inline-block;
} 
header .heading .heading-word:first-child{
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
header .heading .heading-word:nth-child(2){
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
header .heading .heading-word:last-child{
  animation: bopC 1s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  40%, 100% {
    transform: scale(1);
  }
}
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  60%, 100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
@keyframes bopC {
  0% {
    transform: scale(0.9);
  }
  80%, 100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
@media(max-width:725px){
  header .heading{
    font-size: 3em;
  }
  header .heading .heading-word{
    transform: scale(0.6);
  }
}
/* Heading animation */
/* eyes animation */
header .dog .eyes{
  position: absolute;
  top: 120px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
header .dog  .eyes .eye{
  position: relative;
  width: 50px;
  height: 50px;
  background: #ffffff;
  display: inline-block;
  margin: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  overflow: hidden;
}
header .dog  .eyes .eye .pupil{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 8px solid #0b2785;
}
header .dog  .eyes .eye .pupil .spark{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  top: 10%;
  left: 80%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
} 
/* eyes animation */
/* dog's body, face and features style */
header .body {
  width: 250px;
  height: 350px;
}
header .body, header .body:before, header .body:after {
  position: absolute;
}
header .body:before, header .body:after {
  content: '';
}
header .dog .face, header .dog  .features, header .dog .face:before, header .dog .features:before, header .dog .face:after, header .dog .features:after {
  position: absolute;
}
header .dog .face:before, header .dog .features:before, header .dog .face:after, header .dog .features:after {
  content: '';
}
/* slanted body */
header .bodySlant {
  background-color: #e6ac4c;
  border-radius: 12px;
  transform-origin: 50% 100%;
  transform: perspective(800px) rotateX(20deg);
}
/* Basic ears style */
header .earsBasic:before, .earsBasic:after {
  width: 0;
  height: 0;
  top: -25px;
  border-top: 28px solid transparent;
  border-bottom: 20px solid transparent;
}
header .earsBasic:before {
  border-left: 20px solid #e6ac4c;
  left: 0;
}
header .earsBasic:after {
  border-right: 20px solid #e6ac4c;
  right: 0;
}
/* dog main styling */
header .dog {
  left: 42%;
  top: 20%;
  background-color: #E69508;
}
/* responsiveness for dog's position */
@media(max-width:858px){
  /* Tab size */
 header .dog{
    left: 35%;
  }
}
@media(max-width:725px){
  /* mobile size */
  header .dog{
    left: 25%;
  }
}
/* Body and color */
header .dog:before {
  top: -28px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #E69508;
  border-radius: 30% 0 0 / 40% 40% 0 0;
  border-top: 28px solid transparent;
  border-bottom: 20px solid transparent;
}
header .dog:after {
  right: 0;
  z-index: -5;
  border-right: 30px solid #E69508;
  border-radius: 0 15px 0 0;
}
/* Nose and mouth */
header .dog .face {
  top: 175px;
  left: 105px;
  width: 28px;
  height: 24px;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: -3px -3px, 3px -3px ;
}
header .dog .face:before, header .dog .face:after {
  top: 8px;
  left: -16px;
  width: 32px;
  height: 40px;
  border-radius: 50% / 40%;
  border-right: 6px solid #000;
  border-bottom: 6px solid #000;
  border-left: 6px solid transparent;
  border-top: 6px solid transparent;
  box-shadow: 0px 0px #000;
}
header .dog .face:after {
  left: 12px;
  transform: rotateY(180deg);
}
/* eye patch and tongue */
header .dog .features {
  right: 35px;
  top: 53px;
  z-index: -1;
  width: 80px;
  height: 120px;
  background-color: #F5F5DC;
  border-radius: 50% 40% 40% 50% / 30% 30% 30% 30%;
}
/* tongue */
header .dog .features:after {
  top: 162px;
  right: 78px;
  width: 35px;
  height: 20px;
  background-color: #df4f4f;
  border-radius: 0 0 50% 50%;
  animation: tongue 1s infinite ease-in;
}
/* tail */
header .dog .features:before {
  top: 130px;
  right: -130px;
  z-index: -1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #E69508;
  border-left: 0;
  border-top: 0;
  box-shadow: 10px 0 #FFEBCD, 12px 10px #E69508, 18px 10px #FFEBCD, 20px 24px #E69508;
  animation: wag 5s infinite ease-in-out;
}
/* tongue animation */
@keyframes tongue {
  0% {
    height: 20px;
  }
  50% {
    height: 25px;
  }
}
/* tail wag animation */
@keyframes wag {
  10% {
    top: 120px;
    right: -125px;
    transform: rotate(-20deg);
  }
  20% {
    top: 130px;
    right: -130px;
    transform: rotate(0);
  }
  30% {
    top: 120px;
    right: -125px;
    transform: rotate(-20deg);
  }
  40% {
    top: 130px;
    right: -130px;
    transform: rotate(0);
  }
  50% {
    top: 125px;
    right: -127px;
    transform: rotate(-10deg);
  }
  60% {
    top: 130px;
    right: -130px;
    transform: rotate(0);
  }
}
/* end of dog anumation */
/* header end */
/* Home  */
.home{
  position: relative;
  height: 100vh;
  overflow: hidden;

}

/* Slide syling for the backgroud pictures  */
.home .slide{
  display: none;
  align-items: flex-end;
  position: absolute;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 80%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 50px 20px -20px #000000;
  z-index: 1;
  animation: slide 2s ease;
}
.home .slide.active{
  display: flex;
}
/* Animation for slide change */
@keyframes slide{
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  } 
}
/* End of Slide styling */
/* Style for caption container */
.container{
  max-width: 100%;
  max-height: 35%;
  padding: 1.5rem;
  color: #fffff0;
  background-color: #8fbc8fc0;
  padding-bottom: 2.8rem;
  text-align: center;
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 0.8s;
  transition: all 0.5s ease-in-out;
}
.container:hover{
  background-color: #8fbc8fee;
  text-shadow: 0 0 20px #000000;
}
.home .container{
  flex-grow: 1;
}
/* End of caption container Styling */
/* Caption Styling */
.home .caption h1{
  font-size: 40px;
  color: #FAF0E6;
  margin: 0;
}
/* For active caption */
.home .slide.active .caption h1{
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p{
  font-size: 18px;
  color: #fffff0;
  margin-bottom: 1rem;
}
/* For active caption */
.home .slide.active .caption p{
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
.home .caption a{
  padding: 8px 24px;
  background: #000000;
  text-decoration: none;
  color: #FFFAF0;
  transition: all 0.8s ease;
}
.home .caption a:hover{
  background-color: #FFFAF0;
  color: #000;
  box-shadow: 0 0 10px #000;
}
/* For active caption */
.home .slide.active .caption a{
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.4s;
}
@media(max-width: 992px){
  .home .caption h1{
    font-size: 35px;
  }
}
@media(max-width: 767px){
  .container{
    max-height: 28%;
  }
  .home .caption h1{
    font-size: 25px;
  }
  .home .caption p{
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  .home .caption a{
    font-size: 12px;
    padding: 6px 18px;
  }
}
/* Animation for slide change */
@keyframes captionText{
  0%{
    opacity: 0; transform: translateZ(-100px);
  }
  100%{
    opacity: 1; transform: translateZ(0px);
  }
}
/* End of caption styling */
/* Styling control arrow */
.home .controls .prev,
.home .controls .next{
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 50px;
  width: 40px;
  margin-top: -20px;
  color: #FFF5EE;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home .controls .prev
{
  left: 15%;
}
.home .controls .next{
  right: 15%;
}
.home .controls .prev:hover{
  background: linear-gradient(to right ,#00000060,#00000031,#0000002c,#00000000);
}
.home .controls .next:hover{
  background: linear-gradient(to left ,#00000060,#00000031,#0000002c,#00000000);
}
/* End of control arrows styling */
/* Styling for circle indicators */
.home .indicator{
  position: absolute;
  top: 86%;
  left: 50%;
  bottom: 10px;
  z-index: 2;
  transform: translateX(-50%);
}
.home .indicator div{
  display: inline-block;
  width: 15px;
  height: 15px;
  /* comment in the below code for displaying the number of slide check JS file to enable the number display */
  /* color: #000000;  */
  background-color: #fffff0;
  box-shadow: 0 0 20px #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
  cursor: pointer;
}
.home .indicator div:hover{
  background-color: #000000;
  border: 2px solid #fff;
}
/* active indicator circle */
.home .indicator div.active{
  background-color: #000000;
  /* color: #ffffff; */
  /* comment in the above code and comment out the below code for number display  */
  border: 2px solid #fff;
}
/* End of circle indicators styling */
/* responsive for control arrow */
@media(max-width: 836px){
  .controls{
    display: none;
  }
  .home .indicator{
    top: 92%;
  }
  .home .indicator div{
    box-shadow: 0 0 20px #ffffff;
    width: 20px;
    height: 20px;
    margin: 0 6px;
  }
}
/* End of responsive design */
/* end of home */
/* info section */
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 95px;
  background-image: linear-gradient(#00000080,#000000e0),url(../img/home-info.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #F5F5DC;
}
.info .info-para{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  transition: all 0.8s ease;
}
.info .info-para p{
  text-align: justify;
}
.info .info-para:hover{
  background-color: #000000;
  box-shadow: 0 0 20px #ffffff;
  border-radius: 0 15px 0 15px;
  border: 3px solid #fff;
}
.info .info-tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.info .info-tabs .info-tab{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 15px;
  width: 188px;
  height: 228px;
  margin: 1rem;
  transition: all 0.8s ease;
}
.info .info-tabs .info-tab img{
  width: 175px;
  height: 215px;
  border-radius: 15px;
}
.info .info-tabs .info-tab img:hover{
  border-radius: 0 15px 0 15px;
}
.info .info-tabs .info-tab:hover{
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 0 0 20px #ffffff;
  border-radius: 0 15px 0 15px;
  border: 3px solid #000000;
}
@media(max-width:698px){
  .info .info-tabs .info-tab:nth-child(2){
    display: none;
  }
  .info{
    height: 115vh;
  }

}
/* end of info section */
/* Adoption section */
.adoption{
  height: 60vh;
  padding-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #F5F5DC;
}
.adoption .adopt-data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.adoption .adopt-data .image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #000000;
  transition: all 0.8s ease;
}
.adoption .adopt-data .image:hover{
  background-color: #000;
  box-shadow: 0 0 20px #000000;
}
.adoption .adopt-data .image img{
  width: 230px;
  border: 3px solid #000000;
  transform: scale(1.3);
}

.adoption .adopt-data .para{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 280px;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  border: 2px solid #000000;
  text-align: justify;
  transition: all 0.8s ease;
}
.adoption .adopt-data .para:hover{
  background-color: #000;
}
.adoption .adopt-data .para h3{
  margin: 2rem 0 0 0;
  padding: 0.2rem;
  text-align: center;
}
@media(min-width:980px){
  .adoption .adopt-data .image{
    width: 400px;
  }
  .adoption .adopt-data .image img{
    width: 280px;
  }
  .adoption .adopt-data .para{
    width: 400px;
  }
  .adoption .adopt-data .para h3{
    margin: 0 0 1rem 0;
  }
}
@media(max-width:650px){
  .adoption .adopt-data .image{
    width: 200px;
  }
  .adoption .adopt-data .image img{
    width: 180px;
  }
  .adoption .adopt-data .para{
    width: 200px;
    font-size: 12px;
  }
  .adoption .adopt-data .para h3{
    font-size: 1.5rem;
    margin: 1.5rem 0 0 0;
  }
}
/* End of adoption section */
/* Help section */
.help{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  background-image: url('../img/Contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #F5F5DC;
}
.help .contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.help .contact .contact-tab{
  text-align: center;
  background-color: #000000b0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  width: 200px;
  border-radius: 15px;
  border: 2px solid #fff;
  transition: all 0.8s ease;
}
.help .contact .contact-tab:hover{
  background-color: #000;
  transform: scale(1.1);
}
/* End of help section */

